<div>
  <h2 id="page-heading" data-cy="PersonaHeading">
    <span coreTranslate="angularSampleApp.persona.home.title">Personas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span coreTranslate="angularSampleApp.persona.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-persona"
        [routerLink]="['/persona/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span coreTranslate="angularSampleApp.persona.home.createLabel">Crear nuevo Persona</span>
      </button>
    </div>
  </h2>

  <core-alert-error></core-alert-error>

  <core-alert></core-alert>

  @if (personas?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span coreTranslate="angularSampleApp.persona.home.notFound">Ningún Personas encontrado</span>
    </div>
  }

  @if (personas && personas.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr coreSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" coreSortBy="id">
              <div class="d-flex">
                <span coreTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" coreSortBy="nombre">
              <div class="d-flex">
                <span coreTranslate="angularSampleApp.persona.nombre">Nombre</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" coreSortBy="primerApellido">
              <div class="d-flex">
                <span coreTranslate="angularSampleApp.persona.primerApellido">Primer Apellido</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" coreSortBy="segundoApellido">
              <div class="d-flex">
                <span coreTranslate="angularSampleApp.persona.segundoApellido">Segundo Apellido</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" coreSortBy="fechaNacimiento">
              <div class="d-flex">
                <span coreTranslate="angularSampleApp.persona.fechaNacimiento">Fecha Nacimiento</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" coreSortBy="edad">
              <div class="d-flex">
                <span coreTranslate="angularSampleApp.persona.edad">Edad</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" coreSortBy="curp">
              <div class="d-flex">
                <span coreTranslate="angularSampleApp.persona.curp">Curp</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (persona of personas; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/persona', persona.id, 'view']">{{ persona.id }}</a>
              </td>
              <td>{{ persona.nombre }}</td>
              <td>{{ persona.primerApellido }}</td>
              <td>{{ persona.segundoApellido }}</td>
              <td>{{ persona.fechaNacimiento | formatMediumDate }}</td>
              <td>{{ persona.edad }}</td>
              <td>{{ persona.curp }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/persona', persona.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" coreTranslate="entity.action.view">Vista</span>
                  </a>

                  <a [routerLink]="['/persona', persona.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" coreTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(persona)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" coreTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
