<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="core-authority-heading"
        data-cy="AuthorityCreateUpdateHeading"
        coreTranslate="angularSampleApp.adminAuthority.home.createOrEditLabel"
      >
        Crear o editar Authority
      </h2>

      <div>
        <core-alert-error></core-alert-error>

        <div class="mb-3">
          <label class="form-label" coreTranslate="angularSampleApp.adminAuthority.name" for="field_name">Name</label>
          <input
            type="text"
            class="form-control"
            name="name"
            id="field_name"
            data-cy="name"
            formControlName="name"
            [readonly]="editForm.get('name')!.disabled"
          />
          @if (editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.required) {
                <small class="form-text text-danger" coreTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('name')?.errors?.maxlength) {
                <small class="form-text text-danger" coreTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }"
                  >Este campo no puede superar más de 50 caracteres.</small
                >
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span coreTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span coreTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
